.footer {
    background-color: var(--color-secondary);
    .wrapper {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        gap: var(--spacing-md);
    }
    ul {
        list-style: none;
    }
}
