/* ==========================================================================
   HEADINGS / ELEMENT
   ========================================================================== */

h1 {
    font-size: var(--font-size-h1);
    font-family: var(--font-primary);
    line-height: auto;
    letter-spacing: 5%;
    font-weight: 700;
    margin: 0;
}
h2,
h3,
h4,
p,
li {
    font-family: var(--font-secondary);
    margin: 0;
}

h2 {
    font-size: var(--font-size-h2);
    line-height: auto;
    font-weight: 700;
}

h3 {
    font-size: var(--font-size-h3);
    line-height: auto;
    font-weight: 400;
}

h4 {
    font-size: var(--font-size-h4);
    line-height: auto;
    font-weight: 400;
}

p {
    font-size: var(--font-size-p);
    line-height: auto;
}
li {
    font-size: var(--font-size-li);
    line-height: auto;
}
