/* ==========================================================================
   COLORS / SETTINGS
   ========================================================================== */

:root {
    // Couleur de base
    --color-white: #fff;
    --color-black: #000;

    // Couleurs du projet
    --color-primary: #00e5ff;
    --color-secondary: #30b1bf;
    --color-CTA: #ff6c00;
}
