/* ==========================================================================
   FONTS / SETTINGS
   ========================================================================== */
/// Font family
:root {
    --font-primary: 'Schibsted Grotesk', sans-serif;
    --font-secondary: 'Istok Web', sans-serif;
    --font-size-content: #{typo(16px, 18px)};

    /// Grosseur des textes
    --font-size-h1: #{typo(24px, 36px)};
    --font-size-h2: #{typo(48px, 64px)};
    --font-size-h3: #{typo(32px, 48px)};
    --font-size-h4: #{typo(24px, 32px)};
    --font-size-p: #{typo(14px, 20px)};
    --font-size-li: #{typo(24px, 40px)};
}
