{% include '_partials/_header.html' %}

<section class="categories">
    <div class="wrapper">
        <h1>Catégories</h1>
        <div class="categories__grid">
            <a href="" class="category">
                <div class="category__media">
                    <img src="assets/images/plomberie.png" alt="" />
                </div>
                <div class="category__content">
                    <h4>Plomberie</h4>
                </div>
            </a>
            <a href="" class="category">
                <div class="category__media">
                    <img src="assets/images/plomberie.png" alt="" />
                </div>
                <div class="category__content">
                    <h4>Électricité</h4>
                </div>
            </a>
            <a href="" class="category">
                <div class="category__media">
                    <img src="assets/images/plomberie.png" alt="" />
                </div>
                <div class="category__content">
                    <h4>Menuiserie</h4>
                </div>
            </a>
            <a href="" class="category">
                <div class="category__media">
                    <img src="assets/images/plomberie.png" alt="" />
                </div>
                <div class="category__content">
                    <h4>Jardinage</h4>
                </div>
            </a>
            <a href="" class="category">
                <div class="category__media">
                    <img src="assets/images/plomberie.png" alt="" />
                </div>
                <div class="category__content">
                    <h4>Peinture</h4>
                </div>
            </a>
            <a href="" class="category">
                <div class="category__media">
                    <img src="assets/images/plomberie.png" alt="" />
                </div>
                <div class="category__content">
                    <h4>Cuisine</h4>
                </div>
            </a>
        </div>
    </div>
</section>

<section class="produits_vedette">
    <div class="wrapper">
        <h1>Produit vedettes</h1>

        <div class="swiper" data-component="Caroussel">
            <div class="swiper-wrapper">
                <div class="swiper-slide">
                    <div class="card_vedette">
                        <div class="card__media"></div>
                        <div class="card__content"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<!--
<div class="swiper" data-component="Caroussel">

    <div class="swiper-wrapper">
    
        <div class="swiper-slide">Slide 1</div>
        <div class="swiper-slide">Slide 2</div>
        <div class="swiper-slide">Slide 3</div>
        ...
    </div>

    <div class="swiper-pagination"></div>


    <div class="swiper-button-prev"></div>
    <div class="swiper-button-next"></div>


    <div class="swiper-scrollbar"></div>
</div>-->

{% include '_partials/_footer.html' %}
