{% include '_partials/_header.html' %}

<section class="categories">
    <div class="wrapper">
        <h1>Catégories</h1>
        <div class="categories__grid">
            <a href="" class="category">
                <div class="category__media">
                    <img src="" alt="" />
                </div>
                <div class="category__content">
                    <h2>Plomberie</h2>
                </div>
            </a>
            <a href="" class="category">
                <div class="category__media">
                    <img src="" alt="" />
                </div>
                <div class="category__content">
                    <h2>Électricité</h2>
                </div>
            </a>
            <a href="" class="category">
                <div class="category__media">
                    <img src="" alt="" />
                </div>
                <div class="category__content">
                    <h2>Menuiserie</h2>
                </div>
            </a>
            <a href="" class="category">
                <div class="category__media">
                    <img src="" alt="" />
                </div>
                <div class="category__content">
                    <h2>Jardinage</h2>
                </div>
            </a>
            <a href="" class="category">
                <div class="category__media">
                    <img src="" alt="" />
                </div>
                <div class="category__content">
                    <h2>Jardinage</h2>
                </div>
            </a>
            <a href="" class="category">
                <div class="category__media">
                    <img src="" alt="" />
                </div>
                <div class="category__content">
                    <h2>Cuisine</h2>
                </div>
            </a>
        </div>
    </div>
</section>

<section class="produits_vedette">
    <di class="wrapper">
        <h1>Produit vedettes</h1>
    </di>
</section>

<!--
<div class="swiper" data-component="Caroussel">

    <div class="swiper-wrapper">
    
        <div class="swiper-slide">Slide 1</div>
        <div class="swiper-slide">Slide 2</div>
        <div class="swiper-slide">Slide 3</div>
        ...
    </div>

    <div class="swiper-pagination"></div>


    <div class="swiper-button-prev"></div>
    <div class="swiper-button-next"></div>


    <div class="swiper-scrollbar"></div>
</div>-->

{% include '_partials/_footer.html' %}
