{% include '_partials/_header.html' %}

<section class="categories section">
    <div class="wrapper">
        <h1>Catégories</h1>
        <div class="categories__grid">
            <a href="" class="category">
                <div class="category__media">
                    <img src="assets/images/plomberie.png" alt="" />
                </div>
                <div class="category__content">
                    <h4>Plomberie</h4>
                </div>
            </a>
            <a href="" class="category">
                <div class="category__media">
                    <img src="assets/images/plomberie.png" alt="" />
                </div>
                <div class="category__content">
                    <h4>Électricité</h4>
                </div>
            </a>
            <a href="" class="category">
                <div class="category__media">
                    <img src="assets/images/plomberie.png" alt="" />
                </div>
                <div class="category__content">
                    <h4>Menuiserie</h4>
                </div>
            </a>
            <a href="" class="category">
                <div class="category__media">
                    <img src="assets/images/plomberie.png" alt="" />
                </div>
                <div class="category__content">
                    <h4>Jardinage</h4>
                </div>
            </a>
            <a href="" class="category">
                <div class="category__media">
                    <img src="assets/images/plomberie.png" alt="" />
                </div>
                <div class="category__content">
                    <h4>Peinture</h4>
                </div>
            </a>
            <a href="" class="category">
                <div class="category__media">
                    <img src="assets/images/plomberie.png" alt="" />
                </div>
                <div class="category__content">
                    <h4>Cuisine</h4>
                </div>
            </a>
        </div>
    </div>
</section>

<section class="produits_vedette section">
    <div class="wrapper">
        <h1>Produit vedettes</h1>

        <div class="swiper" data-component="Caroussel" data-split>
            <div class="swiper-wrapper">
                <div class="swiper-slide">
                    <div class="card_vedette">
                        <div class="card__media">
                            <img src="assets/images/cuisine.jpg" alt="" />
                        </div>
                        <div class="card__content">
                            <h4>Robinet de Cuisine Monocommande "Industria" avec Douchette Extensible</h4>

                            <div class="price">
                                <h3>99.99$</h3>
                                <a href="">
                                    <svg class="icon icon--xl">
                                        <use href="#icon-shopping_cart"></use>
                                    </svg>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="card_vedette">
                        <div class="card__media">
                            <img src="assets/images/salon.jpg" alt="" />
                        </div>
                        <div class="card__content">
                            <h4>Ensemble d'Encastrés DEL "Plafond Étoilé" - 4 Pouces, Intensité Variable</h4>

                            <div class="price">
                                <h3>99.99$</h3>
                                <a href="">
                                    <svg class="icon icon--xl">
                                        <use href="#icon-shopping_cart"></use>
                                    </svg>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="card_vedette">
                        <div class="card__media">
                            <img src="assets/images/salon.jpg" alt="" />
                        </div>
                        <div class="card__content">
                            <h4>Ensemble d'Encastrés DEL "Plafond Étoilé" - 4 Pouces, Intensité Variable</h4>

                            <div class="price">
                                <h3>99.99$</h3>
                                <a href="">
                                    <svg class="icon icon--xl">
                                        <use href="#icon-shopping_cart"></use>
                                    </svg>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="card_vedette">
                        <div class="card__media">
                            <img src="assets/images/cuisine.jpg" alt="" />
                        </div>
                        <div class="card__content">
                            <h4>Robinet de Cuisine Monocommande "Industria" avec Douchette Extensible</h4>

                            <div class="price">
                                <h3>99.99$</h3>
                                <a href="">
                                    <svg class="icon icon--xl">
                                        <use href="#icon-shopping_cart"></use>
                                    </svg>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<!--
<div class="swiper" data-component="Caroussel">

    <div class="swiper-wrapper">
    
        <div class="swiper-slide">Slide 1</div>
        <div class="swiper-slide">Slide 2</div>
        <div class="swiper-slide">Slide 3</div>
        ...
    </div>

    <div class="swiper-pagination"></div>


    <div class="swiper-button-prev"></div>
    <div class="swiper-button-next"></div>


    <div class="swiper-scrollbar"></div>
</div>-->

{% include '_partials/_footer.html' %}
